<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>卡卡颂计分助手</title>
    <meta name="keywords" content="carcassonne" />
    <meta name="description" content="卡卡颂计分助手" />

    <link href="logo.ico" rel="shortcut icon" type="image/x-icon"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
</head>

<body>
    <div id="app">
        <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <strong>卡卡颂计分助手</strong>
                </div>

                <div class="navbar-item">
                    <div class="field">
                        <div class="control has-icons-left">
                            <div id="player_num_select" class="select is-rounded is-warning">
                                <select name="player_num" v-model="selected" @change="players_init">
                                    <option v-for="option in playerNumOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </div>
                            <div class="icon is-small is-left">
                                <i class="fas fa-users"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <section class="section">
            <div id="score_board" class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        <span class="icon is-small">
                            <!-- <span class="icon is-small">
                        <i class="fas fa-plus"></i>
                    </span> -->
                            <i class="fas fa-user"></i>
                        </span>
                        <span>&ensp;玩家得分</span>
                    </p>
                </header>
                <div class="card-content">
                    <div id="score_bars" class="content">
                        <article v-for="player in players" class="media" :key="player.id">
                            <div class="media-left">
                                <h1 class="title is-6">
                                    <label class="checkbox">
                                        <input type="checkbox" :value="player.id" v-model="checkedPlayers">
                                    </label>
                                </h1>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <progress class="progress is-danger" :value="player.percentage" max="100">{{ player.percentage }}%</progress>
                                </div>
                            </div>
                            <div class="media-right">
                                <h1 class="title is-6">{{ player.score }}</h1>
                            </div>
                        </article>
                    </div>
                </div>
                <footer class="card-footer">
                    <div class="card-footer-item">
                        <div class="buttons has-addons">
                            <a class="button is-primary" @click="toAddIncrease(-1)">
                                <span class="icon is-small">
                                    <i class="fas fa-minus"></i>
                                </span>
                            </a>
                            <input type="button" class="button is-light is-static" :value="'+'+toAdd" />
                            <a class="button is-primary" @click="toAddIncrease(1)">
                                <span class="icon is-small">
                                    <i class="fas fa-plus"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="card-footer-item">
                        <div class="buttons">
                            <a class="button is-success" @click="commitAddScore">
                                <span class="icon is-small">
                                    <i class="fas fa-check"></i>
                                </span>
                            </a>
                            <a class="button is-danger is-outlined" @click="toAddClear">
                                <span class="icon is-small">
                                    <i class="fas fa-undo"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </footer>
                <footer class="card-footer">
                    <div class="card-footer-item">
                        <div class="buttons has-addons">
                            <a class="button is-rounded is-info is-outlined" @click="toAddIncrease(4)">
                                <span>+4</span>
                            </a>
                            <a class="button is-rounded is-info is-outlined" @click="toAddIncrease(6)">
                                <span>+6</span>
                            </a>
                            <a class="button is-rounded is-info is-outlined" @click="toAddIncrease(8)">
                                <span>+8</span>
                            </a>
                            <a class="button is-rounded is-info is-outlined" @click="toAddIncrease(10)">
                                <span>+10</span>
                            </a>
                        </div>
                    </div>
                </footer>
            </div>
        </section>
    </div>
</body>

<script src="js/vue.min.js"></script>
<script src='js/carcassonne.js' type='text/javascript'></script>

</html>
